// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "./assets/scss/header";
@import "./assets/scss/custom";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
