.flex-row-container {
    background: #aaa;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.flex-row-container > .flex-row-item {
    padding:5px;
    flex: 1 1 20%;
    min-height: 75vh;
}
.flex-row-item.main {
    flex: 1 1 55%; /*grow | shrink | basis */
}
.flex-row-item {
  background-color: #fff4e6;
  border: 1px solid #f76707;
}
#home{
    background:url(/assets/images/bghome.jpg);
    min-height: 45vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
}