<div class=" is-spaced" *ngIf='!user'>
  <a routerLink="/register"><button mat-raised-button type="button" class="button is-rounded">Register a new
      account</button>
  </a>
</div>
<form #myLoginForm='ngForm' class="form-inline" *ngIf='!user'>
  <div class="field">
    <label class="label">Choose Username (enter email)</label>
    <div class="control">
      <input class="input" type="email" name='userName' placeholder="enter your username/ email" required minlength='4'
        #userNameInput='ngModel' [(ngModel)]='loginForm.userName'>
    </div>
  </div>
  <!-- <mat-error *ngIf="emailInput.errors?.email && emailInput.touched">Enter valid email !</mat-error>  -->
  <div class="field">
    <label class="label">Choose Password</label>
    <div class="control">
      <input class="input" type="email" name='password' placeholder="enter yourPassword" required minlength='4'
        #passwordInput='ngModel' [(ngModel)]='loginForm.password'>
    </div>
  </div>
  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link" type="button" (click)='login()' *ngIf='!user'>Login</button>
    </div>
  </div>
  <!-- [disabled]="myLoginForm.form.invalid"  -->
</form>
<button class="button is-link" type="button" (click)='logout()' *ngIf='user'>Logout</button>
